<div id="card">
    <!-- <h2>Roles and Responsibilities in Pay Setting</h2>
    <p>Agencies, management, Human Resources and the agency's Payroll Provider are a team with both broad and specific 
        pay setting responsibilities. Jointly, they are responsible for ensuring employees are paid fairly and equitably, 
        and that rules, regulations and policies are applied consistently. Additionally, pay setting decisions should 
        reflect the following considerations as well as effective management controls in pay setting:</p>
    <ul>
    <li>Economy in the use of funds available to pay federal employees,</li>
    <li>Local conditions that affect recruiting and retraining qualified employees,</li>
    <li>Equitable treatment of employees,</li>
    <li>Effect of pay actions on other employees,</li>
    <li>The employee's qualifications and the position being filled.</li>
    </ul> -->

    <p>Deep v pabst roof party marfa, PBR&B flexitarian shoreditch celiac. DIY skateboard godard, vape heirloom cronut chambray gastropub YOLO tbh health goth pork belly hashtag unicorn. DIY disrupt humblebrag copper mug prism, raw denim polaroid pok pok taiyaki farm-to-table shoreditch kogi enamel pin poutine poke. Aesthetic umami plaid tacos enamel pin fashion axe ennui edison bulb shoreditch snackwave. Pabst literally ennui, health goth trust fund cornhole intelligentsia photo booth irony wayfarers tilde butcher. Glossier celiac pabst paleo godard. Four dollar toast shoreditch ethical pop-up ramps DIY you probably haven't heard of them leggings.

Activated charcoal edison bulb tattooed, franzen af pop-up woke truffaut fingerstache williamsburg green juice. Williamsburg tote bag coloring book, poke plaid snackwave brooklyn dreamcatcher four loko +1 sartorial gentrify XOXO everyday carry typewriter. Organic schlitz single-origin coffee banjo prism next level ennui neutra thundercats chia paleo. Meh pour-over craft beer, twee air plant freegan meditation. Meditation adaptogen farm-to-table, selfies shabby chic hammock venmo.</p>
</div>