<div id="card">
    <h2>Roles and Responsibilities in Pay Setting</h2>
    <p>Agencies, management, Human Resources and the agency's Payroll Provider are a team with both broad and specific 
        pay setting responsibilities. Jointly, they are responsible for ensuring employees are paid fairly and equitably, 
        and that rules, regulations and policies are applied consistently. Additionally, pay setting decisions should 
        reflect the following considerations as well as effective management controls in pay setting:</p>
    <ul>
    <li>Economy in the use of funds available to pay federal employees,</li>
    <li>Local conditions that affect recruiting and retraining qualified employees,</li>
    <li>Equitable treatment of employees,</li>
    <li>Effect of pay actions on other employees,</li>
    <li>The employee's qualifications and the position being filled.</li>
    </ul>
</div>