<div id="calculator-form">
  
    <form>
        <div id="space">
            <label for="locality">Locality: </label>
            <select name = "dropdown">
            <option value = "Base GS" selected>Base GS</option>
            <option value = "Alaska">Alaska</option>
            </select>
        </div>
        <div id="space">
            <label for="grade">Grade: </label>
            <select name = "dropdown">
            <option value = "GS-1" selected>GS-1</option>
            <option value = "GS-2">GS-2</option>
            </select>
        </div>
        <div id="space">
            <label for="step">Step: </label>
            <select name = "dropdown">
                <option value = "1" selected>1</option>
                <option value = "2">2</option>
            </select>
        </div>
        <hr>
        <div id="space>">
            <label for="result">2021 Annual Salary:</label><br>
            <input type="text" id="result" name="result"><br>
        </div>
        <br>
        <button type="submit">Calculate</button>
    </form>
</div>


