

<!--first form -->
<div class="container-fluid">
    <h1>Bootcamp Enrollment Form</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        {{ userForm.form.valid }}
        <br/><br/>
        {{ userForm.value | json }}
        <hr>
        {{ userModel | json }}
        <br/><br/>

        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" 
            [class.is-invalid]="name.invalid && name.touched" class="form-control" 
            name="userName" [(ngModel)]="userModel.name">
            <!--for single validation rules-->
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name Is Required</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="tel" #phone="ngModel" pattern="^\d{10}$" required
            [class.is-invalid]="phone.invalid && phone.touched" class="form-control" 
            name="phone" [(ngModel)]="userModel.phone">
          <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone Number Must Be 10 Digits</small>
            
            <!--use this for multiple validation rules-->
            <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                <small class="text-danger" *ngIf="phone.errors.required">Phone Number Is Required</small>
                <small class="text-danger" *ngIf="phone.errors.pattern">Phone Number Must Be 10 Digits</small>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <!--validation for drop down select-->
          <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" #topic="ngModel" 
                [class.is-invalid]="topicHasError && topic.touched" class="form-select" name="topic" [(ngModel)]="userModel.topic">
                <option value="default">I am interested in</option> 
                <option *ngFor="let topic of topics">{{ topic }}</option>
            </select>
            <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">A Topic Is Required</small>
        </div>
        <br/>
        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
                <label class="form-check-label">Morning (9AM - 12PM)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
                <label class="form-check-label">Evening (5PM - 8PM)</label>
            </div>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
            <label class="form-check-label">Send me promotional offers</label> 
        </div>

        <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<!--second form -->

<!-- <div id="calculator-form">
  
    <form>
        <div id="space">
            <label for="locality">Locality: </label>
            <select name = "dropdown">
            <option value = "Base GS" selected>Base GS</option>
            </select>
        </div>
        <div id="space">
            <label for="grade">Grade: </label>
            <select name = "dropdown">
            <option value = "GS-1" selected>GS-1</option>
            <option value = "GS-2">GS-2</option>
            <option value = "GS-3">GS-3</option>
            <option value = "GS-4">GS-4</option>
            <option value = "GS-5">GS-5</option>
            <option value = "GS-6">GS-6</option>
            <option value = "GS-7">GS-7</option>
            <option value = "GS-8">GS-8</option>
            <option value = "GS-9">GS-9</option>
            <option value = "GS-10">GS-10</option>
            <option value = "GS-11">GS-11</option>
            <option value = "GS-12">GS-12</option>
            <option value = "GS-13">GS-13</option>
            <option value = "GS-14">GS-14</option>
            <option value = "GS-15">GS-15</option>
            </select>
        </div>
        <div id="space">
            <label for="step">Step: </label>
            <select name = "dropdown">
                <option value = "1" selected>1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
                <option value = "5">5</option>
                <option value = "6">6</option>
                <option value = "7">7</option>
                <option value = "8">8</option>
                <option value = "9">9</option>
                <option value = "10">10</option>
            </select>
        </div>
        <hr>
        <div id="space>">
            <label for="result">2021 Annual Salary:</label><br>
            <input type="text" id="result" name="result"><br>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>
</div> -->


