<!-- <app-logo></app-logo> -->
<app-headings></app-headings>
<app-calculator-form></app-calculator-form>
<script type="text/javascript">
    let xhr = new XMLHttpRequest();
    let url = "https://bmlr26sjp0.execute-api.us-west-2.amazonaws.com/Staging/paysettingappresource";
    xhr.open("get", url);
    xhr.send();
    xhr.addEventListener("readystatechange", () => {
        if (xhr.readyState == 4) {
            alert(xhr.responseText);
        }
    });
    </script>

<!-- <app-card></app-card> -->
<!-- <app-footer></app-footer> -->
